<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="EUC-KR">
<title>Insert title here</title>
<style>
	.item-container{
		max-width: 900px;
		margin: 0 auto;
	}
	.item{
		float: left;
		width: 200px;
		border: 1px solid  #ccc;
		padding: 10px;
		text-align: center;
		margin: 10px;
	}
	
	.item img{
		width: 100%;
		height: auto;
	}
	
</style>
</head>
<body>
	<h1 th:text="${item.name}">상품상세보기</h1>
		<!--img 경로와 이미지 이름-->
		<!--이미지가 없을 수도 있으니 이미지가 없으면 안보여주고 이미지가 존재하면 보여줄 수 있도록 설정-->
		<div class="item-container">
			<div class="item">
				<div th:if="${item.imgName != null and item.imgPath != null}">
	       			<!-- <img th:src="@{'/img/' + item.imgPath + '/' + item.imgName}" />-->
	    			<img th:src="@{${item.getImgPath()}}"><br>
	   			 </div>
	    		<div th:unless="${item.imgName != null and item.imgPath != null}">
	        		<img th:src="@{'/img/notimg.png'}" />
	    		</div>
				<label>제품명: </label>
				<span th:text="${item.name}"></span><br>
				<label>제품가격: </label>
				<span th:text="${item.price}"></span><br>
				<label>재고수량: </label>
				<span th:text="${item.stock}"></span><br>
				<label>상세설명: </label>
				<span th:text="${item.text}"></span><br>
			</div>
			<a th:href="@{/item/list}">돌아가기</a>
		</div>
</body>
</html>